<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="script.js"></script>
		<title>MyCalculator</title>
	</head>
	<body ng-app="myApp">
		<h1>Basic Calculator.com</h1>
		<div ng-controller="calculatorCtrl as ctrl">
			<input type="number" name="number1" ng-model="ctrl.number1">
			<span ng-bind="ctrl.operator" id="operator" ng-model="ctrl.operator"></span>
			<input type="number" name="number2" ng-model="ctrl.number2">
			<button ng-click="ctrl.calculate()" ng-disabled="!ctrl.number1 || !ctrl.number2 || !ctrl.operator">=</button>
			<span ng-bind="ctrl.result"></span>
			<p>Choose an operator:
				<button ng-click="ctrl.operatorClick('+')">+</button>
				<button ng-click="ctrl.operatorClick('-')">-</button>
				<button ng-click="ctrl.operatorClick('/')">/</button>
				<button ng-click="ctrl.operatorClick('*')">*</button>
				<button ng-click="ctrl.operatorClick('^')">^</button>
<!--				<button ng-click="ctrl.operatorClick('&radic;')" name="sqrtroot">&radic;</button>-->
			</p>
		</div>
	</body>
</html>