body{
	text-align: left;
	background-color: lightblue;
}
.calculator{
	width: 560px;
	border-style:double;
	border-width: 1px;
	border-color: black;
	text-align: center;
	padding:20px;
}
.left-box{
	display: block;
	float: left;
}
.text-number1{
	width:150px;
	display: inline-block;
	text-align: center;
}
.number1{
	display: block;
	width: 145px;
	font-family: Digital7;
	font-size: 2em;
}
.mid-box{
	float: left;
}
.text-operator{
	width: 100px;
	display: inline-block;
	text-align: center;
}
.operator{
	display: block;
	width:100px;
	font-family: Digital7;
	font-size: 2em;
	text-align: center;
	margin-top: 5px;
}
.right-box{
	float:left;
}
.text-number2{
	width: 150px;
	display: inline-block;
	text-align: center;
}
.number2{
	display: block;
	width: 145px;
	font-family: Digital7;
	font-size: 2em;
}
.calculate{
	display: inline-block;
	font-family: Digital7;
	font-size: 2em;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
.result{
	font-family: Digital7;
	font-size: 2em;
	display: inline-block;
}
.bottom-box{
	text-align: center;
}
.operator-plus{
	font-family: Digital7;
	font-size: 2em;
}
.operator-min{
	font-family: Digital7;
	font-size: 2em;
}
.operator-dev{
	font-family: Digital7;
	font-size: 2em;
}
.operator-times{
	font-family: Digital7;
	font-size: 2em;
}
.operator-power{
	font-family: Digital7;
	font-size: 2em;
}
.operator-sqrtroot{
	font-family: Digital7;
	font-size: 2em;
}
@font-face{
	font-family: Digital7;
	src: url(digital_7/digital-7.ttf);
}