body{
	text-align: left;
	background-color: lightblue;
}
.calculator{
	width: 630px;
	border-style:double;
	border-width: 1px;
	border-color: black;
	text-align: center;
	padding:10px;
}
.left-box{
	display: block;
	float: left;
}
.text-number1{
	width:150px;
	display: inline-block;
	text-align: center;
}
.number1{
	display: block;
	width: 145px;
	font-family: Digital7;
	font-size: 2em;
}
.mid-box{
	float: left;
}
.text-operator{
	width: 100px;
	display: inline-block;
	text-align: center;
}
.operator{
	display: block;
	width:100px;
	font-family: Digital7;
	font-size: 2em;
	text-align: center;
	margin-top: 5px;
}
.right-box{
	float:left;
}
.text-number2{
	width: 150px;
	display: inline-block;
	text-align: center;
}
.number2{
	display: block;
	width: 145px;
	font-family: Digital7;
	font-size: 2em;
}
.calculate{
	display: inline-block;
	font-family: Digital7;
	font-size: 2em;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}
.end-box{
	float:left;
}
.text-result{
	width:100px;
	display: inline-block;
	text-align: center;
}
.result{
	font-family: Digital7;
	font-size: 2em;
	display: block;
	background: white;
	width: 150px;
	box-shadow: 5px grey;
	margin-top: 2px;
	height: 30px;
	padding-top: 5px;
}
.bottom-box{
	overflow: hidden;
	margin-top: 50px;
	clear: left;
	text-align: center;
}
.operator-plus{
	font-family: Digital7;
	font-size: 2em;
}
.operator-min{
	font-family: Digital7;
	font-size: 2em;
}
.operator-dev{
	font-family: Digital7;
	font-size: 2em;
}
.operator-times{
	font-family: Digital7;
	font-size: 2em;
}
.operator-power{
	font-family: Digital7;
	font-size: 2em;
}
.operator-sqrtroot{
	font-family: Digital7;
	font-size: 2em;
}
@font-face{
	font-family: Digital7;
	src: url(digital_7/digital-7.ttf);
}